<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4> Hello there, we've replacement some leave days for you ! </h4>
    <p>
     <br>
     Date Replaced: <%= @date %>
     <br>
     <br>
     Description: <%= @text %>
     <br>
    </p>
  </body>
</html>
