<div class="leave-page">
  <div class="border-image-container"><%= image_tag("border-image.png", :class => "border-image") %></div>
  <div class="leave-container">
    <% if @leave.length == 0 %>
      <h3> You have not applied for any leave </h3>
    <% else %>
      <%= render partial: "leave_applications/your_applied_leave" %>
  <% end %>

  <hr>
  <% if current_user.role == 'admin' %>
    <h4> Employee's previous leave application </h4>
    <%= employee_previous_leave_application(@array, @HOD, @count) %>
  <% end %>
  </div>
<div class="border-image-container-2"><%= image_tag("border-image.png", :class => "border-image") %></div>
</div>
